  
  .product {
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease;
    background-color: #fff;
    height: fit-content;
  }
  
  .product:hover {
    transform: scale(1.01);
  }
  
  .product-clicked {
    border-color: #d91717;
    border-width: 3px;
  }
  
  .product img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .product h1 {
    text-align: center;
    color: #d91717;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #ddd;
  }
  
  .choice {
    text-align: center;
    padding: 10px;
    transition: 0.3s;
    border-right: 1px solid #ddd;
    background: #fafafa;
  }
  
  .choice:last-child {
    border-right: none;
  }
  
  .choice:hover {
    background-color: #eee;
    cursor: pointer;
  }
  
  .choice.selected {
    background-color: #d91717;
    color: white;
  }
  
  .choice h2 {
    margin: 5px 0;
    font-size: 1rem;
  }
  

/*button*/
.action-btn,.action-btn-sub{
  background-color: #d91717;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 12px;
  transition: background-color 0.3s ease;
}
.action-btn,.action-btn-sub{
  width: 50%;
  margin-left: 80px;
}

.action-btn:hover, .action-btn-sub:hover{
  background-color: #980e0e;
}

.group-title {
  margin-top: 40px;
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
  grid-column: 1 / -1;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}
.group-title:hover {
  background-color: #ddd;
}
.group-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  gap: 40px;
  padding: 20px;
}

.hidden {
  display: none;
}
